<ngx-spinner bdColor="rgba(40,80,80,0.8)" size="medium" color="#ede854" type="ball-beat" [fullScreen]="true">
    <p style="color: #ede854"> Loading... </p>
</ngx-spinner>
<p-scrollPanel [style]="{width: '100%', height: '40vh'}">
    <p-fieldset legend="Agreements">
        <div class="grid">
            <h3 style="color: #057671; margin: 10px;">Terms of Service</h3>
            <div class="col-12"
                style="display: flex; flex-direction: column; align-items: flex-end; background: #eeeeee; border-radius: 15px;">
                <p-scrollPanel [style]="{width: '100%', height: '200px', margin: '10px'}" styleClass="custombar1">
                    <p>
                        The following terms and conditions (“Terms of Service”) constitute a legally binding
                        agreement made between you, whether personally or on behalf of an entity (“you”) and Beanstalk
                        Collective (collectively, “Beanstalk” or “we” or “us” or “our”), governing your
                        access to and use of the www.beanstalk.app website, as well as any other media form,
                        media channel, mobile application (“Mobile App”) or mobile website related or connected
                        thereto (collectively, the “Site”). By visiting our Site, you engage in our “Services”
                        and agree to be bound by these Terms of Service. Supplemental terms and conditions or documents
                        that may be posted on the Site from time to time, are hereby expressly incorporated into these
                        Terms of Service by reference. Please read these Terms of Service carefully before accessing or
                        using our Site. By accessing, browsing, or otherwise using the Site, you agree to be bound by
                        the following terms and conditions, including those additional terms and conditions and policies
                        referenced or linked herein. These Terms of Service apply to all users of the Site, including
                        without limitation users who are browsers, vendors, customers, merchants, and/or contributors of
                        content. If you do not agree to all the terms and conditions contained herein, then you may not
                        access the Site or use any Services. If these Terms of Service are considered an offer,
                        acceptance is expressly limited to these Terms of Service. Any new features or tools which are
                        added to the current Site shall also be subject to the Terms of Service. You can review the most
                        current version of the Terms of Service at any time on this page. We reserve the right to
                        update, change or replace any part of these Terms of Service in our sole discretion by posting
                        updates and/or changes to our Site. It is your responsibility to check this page periodically
                        for changes. Your continued use of or access to the Site following the posting of any changes
                        constitutes acceptance of those changes. By agreeing to these Terms of Service, you represent
                        that you are at least 21 years old, and that your use of the Site or Services does not violate
                        any applicable law or regulation, except, as discussed below, federal laws related to cannabis.
                        Any use of the Site or Services by persons under the age of 21 is strictly prohibited. YOU
                        ACCEPT AND AGREE TO BE BOUND BY THESE TERMS BY CONTINUING TO USE THE SITE. IF YOU DO NOT AGREE
                        TO ABIDE BY THESE TERMS, OR TO MODIFICATIONS THAT BEANSTALK MAY MAKE TO THESE TERMS IN THE FUTURE,
                        DO NOT USE OR ACCESS OR CONTINUE TO USE OR ACCESS THE SERVICES OR THE SITE SAFETY ACKNOWLEDGMENT
                        On our Site, we provide information about certain products but do not offer any products for
                        sale. Our Site may collect information about a user’s experiences and preferences related to
                        the consumption of cannabis or cannabis products. You acknowledge that, as it pertains to
                        cannabis, Beanstalk is only for residents of states and localities with laws regulating the medical
                        or recreational use of cannabis. Cannabis is a Schedule I controlled substance under the
                        Controlled Substances Act, and, therefore, the possession, cultivation and distribution thereof,
                        or conspiring with or assisting others to do the same, is federally illegal and can result in
                        significant criminal and civil penalties. You further acknowledge that medical use is not
                        recognized as a valid defense under federal laws regulating cannabis, and that the interstate
                        transportation of cannabis is a federal offense. ENGAGING IN ACTIVITIES OR BUSINESS RELATED TO
                        CANNABIS IS AT YOUR OWN RISK. Our Site may also collect information about a user’s experiences
                        and preferences related to the consumption of hemp or hemp products, none of which are intended
                        to diagnose, treat, cure or prevent any disease. We recommend consulting with a doctor prior to
                        using any such products. Any statements made about products on the Site have not been evaluated
                        by the FDA. By using the Site, you acknowledge the information contained in these Terms of
                        Service, the information provided on the Site, and all of the documentation and literature
                        included with any product included on the Site, was developed for informational and educational
                        purposes only. In no way is any of the information contained in these Terms of Service or
                        elsewhere on the Site intended to be a medical or prescriptive guide or a substitute for
                        informed medical advice or care. If you believe or suspect that you have a medical problem,
                        promptly contact your doctor or health care provider. You should never delay seeking or
                        disregard advice from a medical professional based on something you have read on the Site. You
                        and any other user of any product on the Site are solely responsible for the use of such product
                        and the consequences of such use. Any illegal use or resale of any products listed on the Site
                        could subject you to fines, penalties and/or imprisonment under state and federal law.
                        REGISTRATION AND USER INFORMATION In order to register to use certain features of the Site you
                        must complete the registration process to obtain a user account (“User Account”). In order
                        to obtain a User Account, you must provide your date of birth, gender, your e-mail address, and
                        a username and password. You will then be given the option to create a profile, in response to
                        which, you may, but are not required to, provide your name, phone number, communication
                        preferences, symptoms or conditions, previous experience with cannabis, and consumption
                        preferences (“User Information”). You must provide complete and accurate information during
                        the registration process and you have an ongoing obligation to update this information if and
                        when it changes. Our information collection and use policies with respect to your User
                        Information, including any personal information, are set forth in our Privacy Policy, which is
                        incorporated into these Terms of Service by reference. An age verification check will occur when
                        entering the Site and during the registration process in order to confirm that you are 21 years
                        of age or older. Only persons 21 years of age or older will be granted access to the Site. As
                        stated above, in creating a User Account, you will be asked to provide a username and password.
                        You are solely responsible for maintaining the confidentiality of your password. You may not use
                        the User Account, username, or password of someone else at any time. You are also solely
                        responsible for any and all activities that occur under your registration or your User
                        Information. You agree to notify us immediately of any unauthorized use of your User Account,
                        username, or password. You agree that you will not create more than one User Account. By
                        registering and obtaining a User Account you affirm you will follow the Terms of Service and
                        your registration constitutes your consent to enter into agreements with us electronically. We
                        shall not be liable for any loss that you incur as a result of someone else using your User
                        Account, username, or password, either with or without your knowledge. You may be held liable
                        for any losses incurred by us, our affiliates, officers, directors, employees, consultants,
                        agents, and representatives due to someone else’s use of your User Account, username, or
                        password. We reserve the right to terminate your User Account or to refuse Services to you,
                        without prior notice to you, at any time and for any or no reason. CONTENT The content on the
                        Site (“Content”) and the trademarks, and all logos contained therein are owned by or
                        licensed by us and are subject to copyright and other intellectual property rights under
                        applicable laws. Content includes, without limitation, all source code, databases,
                        functionality, software, mobile applications, website designs, audio, video, text, photographs,
                        and graphics. All graphics, logos, designs, page headers, button icons, scripts and service
                        names are registered trademarks, common law trademarks or trade dress of ours or our partners.
                        These trademarks and trade dress may not be used, including as part of trademarks and/or as part
                        of domain names, in connection with any product or service in any manner that is likely to cause
                        confusion and may not be copied, imitated, or used, in whole or in part, without our prior
                        written permission. Content on the Site is provided to you “AS IS” for your information and
                        personal use only and may not be used, copied, reproduced, aggregated, distributed, transmitted,
                        broadcast, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever
                        without the prior written consent of the respective owners. Provided that you are eligible to
                        use the Site, you are granted a limited license to access and use the Site and the Content and
                        to download or print a copy of any portion of the Content to which you have properly gained
                        access solely for your personal, non-commercial use. We reserve all rights not expressly granted
                        to you in and to the Site and Content We are not responsible if Content is not accurate,
                        complete, or current. The Content is provided for general information only and should not be
                        relied upon or used as the sole basis for making decisions without consulting primary, more
                        accurate, more complete, or more timely sources of information. Any reliance on Content is at
                        your own risk. We reserve the right to modify the Content at any time, but we have no obligation
                        to update any information on our Site. MOBILE APPLICATION PLATFORMS The availability of our
                        Mobile App is dependent on the third-party mobile application platform (“Mobile App
                        Platform”) from which you received and downloaded the Mobile App. The agreement set forth in
                        these Terms of Service is between you and Beanstalk and not with the Mobile App Platform. Beanstalk is
                        solely responsible for the Site and Services, including the Mobile App, including all content,
                        maintenance, support services, and claims relating thereto. You agree to pay all fees, if any,
                        charged by the Mobile App Platform in connection with your download and/or use of the Mobile
                        App. You may be required to agree to each Mobile App Platform’s own terms and conditions prior
                        to downloading the Mobile App, and your ability to utilize a Mobile App may be conditioned upon
                        your compliance with such terms and conditions. Any such Mobile App Platform may be considered a
                        third-party beneficiary of the Terms of Service. THIRD-PARTY LINKS Certain Content and Services
                        available via our Site may include materials from third parties. Third-party links on this site
                        may direct you to third-party websites that are not affiliated with us. We are not responsible
                        for examining or evaluating the content or accuracy and we do not warrant and will not have any
                        liability or responsibility for any third-party materials or websites, or for any other
                        materials, products, or services of third parties. We are not liable for any harm or damages
                        related to the purchase or use of goods, services, resources, content, or any other transactions
                        made in connection with any third-party websites. Please review carefully the third party’s
                        policies and practices and make sure you understand them before you engage in any transaction.
                        Complaints, claims, concerns, or questions regarding third-party products should be directed to
                        the third party. You are responsible for taking reasonable precautions in all actions and
                        interactions with third parties you interact with through the Site. USER CONTENT You grant us a
                        license to use the materials you post to the Site and/or in connection with the Services. By
                        reviewing, posting, downloading, displaying, performing, transmitting, or otherwise distributing
                        information or other content, including content in your User Account (“User Content”), to
                        the Site or in connection with the Services, you are granting us, our affiliates, subsidiaries,
                        parents, officers, directors, employees, consultants, agents, and representatives a license to
                        use User Content in connection with the operation of the Site, including without limitation, a
                        right to copy, distribute, transmit, publicly display, publicly perform, reproduce, edit,
                        translate, and reformat User Content; and you agree that we may publish or otherwise disclose
                        your User Content in our sole and absolute discretion. However, all actions taken in connection
                        with your User Content will be subject to the limitations set forth in our Privacy Policy. You
                        will not be compensated for any User Content. By posting User Content on the Site, you warrant
                        and represent that you own the rights to the User Content or are otherwise authorized to post,
                        distribute, display, perform, transmit, or otherwise distribute User Content. You agree that
                        your User Content will not contain libelous or otherwise unlawful, abusive, or obscene material,
                        or contain any computer virus or other malware that could in any way affect the operation of the
                        Site. You may not use a false e-mail address, pretend to be someone other than yourself, or
                        otherwise mislead us or third parties as to the origin of any User Content. You are solely
                        responsible for any User Content you provide and its accuracy. We take no responsibility and
                        assume no liability for any User Content posted by you or any third party. Any content
                        guidelines or similar materials posted to the Site governing User Content or otherwise governing
                        what constitutes appropriate use of the Site or Services (“User Content Guidelines”) are
                        hereby incorporated into these Terms of Service by reference, and you hereby agree and consent
                        to comply with the terms of any such User Content Guidelines. We may, but have no obligation to,
                        monitor, edit or remove User Content that we determine in our sole discretion to be unlawful,
                        offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable
                        or in violation of any party’s intellectual property or these Terms of Service. User Content
                        includes, but is not limited to, Product Usage Data (as such term is defined in the Privacy
                        Policy), which includes any ratings or reviews of products that users of the Site, including
                        you, post when using the Site. In order to post such ratings or reviews, you must have a valid
                        User Account, and you may be asked to confirm the validity of the email address associated with
                        your User Account. By creating a User Account, you agree not to post ratings or reviews on the
                        Site that are not based upon your own personal experience or that serve any purpose other than
                        providing you or other users of the Site with an accurate account of your personal experience
                        with such product or products. Ratings or reviews not based on personal knowledge may not be
                        posted on the Site. Additionally, Beanstalk’s collection and utilization of such User Content,
                        including Product Usage Data such as ratings or reviews, does not constitute or imply Beanstalk’s
                        endorsement, recommendation, or favoring of any product, whether or not the product is included
                        on the Site.
                        PUSH NOTIFICATIONS, TEXT MESSAGES, AND EMAILS When you download our Mobile App on your mobile
                        device, you agree and consent to receive push notifications from us on your mobile device. Push
                        notifications are messages that the Mobile App sends to you on your mobile device (even when the
                        Mobile App may not be open). You can turn off push notifications by going to your mobile
                        device’s “Settings” menu and disabling the notifications.If you create a User Account and
                        provide us with your cell phone number, you agree and consent to receive certain text messages
                        from Beanstalk regarding the Site and Services. These text messages may relate to the Site’s
                        operations or include promotional messages. Standard text messaging rates will be applied by
                        your mobile device carrier to any text messages sent by Beanstalk. You will have the option to opt
                        out of receiving text messages from Beanstalk by replying “STOP” to any text message sent by
                        Beanstalk. After requesting to opt out, you may receive text messages from Beanstalk for a brief time
                        while your request is processed. Beanstalk text messages may be generated by automatic telephone
                        dialing systems and you hereby waive your right to pursue any claims (including any claim that
                        arises while your request to opt out is pending) under the Telephone Consumer Protection Act
                        (“TCPA”). To the extent any claim under the TCPA cannot be waived, by using the Site or
                        Services, you are agreeing that any claim against Beanstalk that cannot be waived, but which arises
                        under the TCPA (including any claim that arises while your request to opt out is pending), will
                        be arbitrated on an individual, and not on a class or representative, basis, in accordance with
                        Sections titled “ARBITRATION” and “CLASS ACTION WAIVER” of these Terms of Service. By
                        providing us with your email address, you agree that we may send you emails concerning our Site
                        and Services, as well information related to third parties. You will have the option to opt out
                        of such emails by following instructions to unsubscribe, which will be included in each email.
                        MODIFICATIONS We reserve the right at any time to modify or discontinue the Site, the Services
                        (or any part or Content thereof) without notice at any time. We shall not be liable to you or to
                        any third party for any modification, change, suspension or discontinuance of the Site or
                        Service. Beanstalk does not have any obligation under these Terms of Service, except as otherwise
                        expressly stated, to provide you with any support or maintenance in connection with the Site or
                        Services. PERSONAL INFORMATION We care deeply about the privacy of our users and take our duty
                        to protect information about our users seriously. Please review our Privacy Policy. Our Privacy
                        Policy is expressly incorporated into these Terms of Service by this reference. ERRORS,
                        INACCURACIES AND OMISSIONS Occasionally there may be information on our Site or in the Services
                        that contains typographical errors, inaccuracies or omissions that may relate to product
                        descriptions, pricing, promotions, offers, and availability. We reserve the right to correct any
                        errors, inaccuracies or omissions, and to change or update any information in the Site or
                        Service or on any related website if it is inaccurate at any time without prior notice. We
                        undertake no obligation to update, amend or clarify information in the Site or Services or on
                        any related website, except as required by law. No specified update or refresh date applied in
                        the Site or Services or on any related website, should be taken to indicate that all information
                        in the Site or Services or on any related website has been modified or updated. PROHIBITED USES
                        In addition to other prohibitions as set forth in the Terms of Service, and excepting federal
                        laws that relate to cannabis, you are prohibited from using the Site or its Content: (a) for any
                        unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to
                        violate any international, federal, provincial or state regulations, rules, laws, or local
                        ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual
                        property rights of others; (e) to harass, abuse, insult, harm, defame, slander, disparage,
                        intimidate, or discriminate based on gender, sexual orientation, religion, ethnicity, race, age,
                        national origin, or disability; (f) to submit false or misleading information; (g) to upload or
                        transmit viruses or any other type of malicious code that will or may be used in any way that
                        will affect the functionality or operation of the Site or of any related website, other
                        websites, or the Internet; (h) to collect or track the personal information of others; (i) to
                        spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose;
                        or (k) to interfere with or circumvent the security features of the Site or any related website,
                        other websites, or the Internet. We reserve the right to terminate your use of the Site and
                        Services or any related website for violating any of the prohibited uses. DISCLAIMER OF
                        WARRANTIES; LIMITATION OF LIABILITY YOU AGREE THAT YOUR USE OF THE SITE AND SERVICES WILL BE AT
                        YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW. BEANSTALK, ITS AFFILIATES, ITS OFFICERS,
                        DIRECTORS, EMPLOYEES, AND AGENTS, DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION
                        WITH THE SITE AND THE SERVICES AND YOUR USE THEREOF, INCLUDING, WITHOUT LIMITATION, THE IMPLIED
                        WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. BEANSTALK
                        DOES NOT WARRANT THAT YOUR USE OF THIS SITE WILL BE UNINTERRUPTED OR ERROR FREE, OR THAT THIS
                        SITE OR ITS SERVER ARE FREE OF VIRUSES OR OTHER HARMFUL ELEMENTS. ALTHOUGH BEANSTALK ENDEAVORS TO
                        PROVIDE ACCURATE INFORMATION, IT DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE
                        ACCURACY OR RELIABILITY OF INFORMATION ON THIS SITE. YOUR USE OF THE SITE IS AT YOUR OWN RISK.
                        NEITHER BEANSTALK NOR ITS AFFILIATED OR RELATED ENTITIES OR ITS VENDORS OR CONTENT PROVIDERS SHALL
                        BE LIABLE TO ANY PERSON OR ENTITY FOR ANY DIRECT OR INDIRECT LOSS, DAMAGE (WHETHER ACTUAL,
                        CONSEQUENTIAL, PUNITIVE, SPECIAL OR OTHERWISE), INJURY, CLAIM, OR LIABILITY OF ANY KIND OR
                        CHARACTER WHATSOEVER BASED UPON OR RESULTING FROM YOUR USE OR INABILITY TO USE THIS SITE, OR ANY
                        INFORMATION OR MATERIALS PROVIDED ON THE SITE. BEANSTALK IS NOT LIABLE FOR ANY DEFAMATORY,
                        OFFENSIVE OR ILLEGAL CONDUCT OF ANY USER. IF YOU ARE DISSATISFIED WITH THE SITE OR ANY MATERIALS
                        ON THE SITE, OR WITH ANY OF THE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE
                        USING THE SITE. Beanstalk does not warrant, endorse, guarantee, or assume responsibility for any
                        product or service advertised or offered by a third party through the Site or any hyperlinked
                        website or featured in any banner or other advertising, and Beanstalk will not be a party to or in
                        any way be responsible for monitoring any transaction between you and third-party providers of
                        products or services. As with the purchase of a product or service through any medium or in any
                        environment, you should use your best judgment and exercise caution where appropriate.
                        Notwithstanding anything to the contrary contained herein, Beanstalk and its affiliates’
                        liability to you for any cause whatsoever and regardless of the form of the action, will at all
                        times be limited to the greater of (a) the amount paid, if any, by you to Beanstalk for the
                        services during the period of one (1) month prior to any cause of action arising, and (b) five
                        dollars (\$5). BECAUSE SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR THE LIMITATION
                        OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH STATES OR JURISDICTIONS, OUR
                        LIABILITY SHALL BE LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW. INDEMNIFICATION YOU AGREE TO
                        INDEMNIFY, DEFEND AND HOLD HARMLESS BEANSTALK, ITS PARENT, SUBSIDIARIES, AFFILIATES, PARTNERS,
                        SHAREHOLDERS, MEMBERS, OFFICERS, DIRECTORS, EMPLOYEES, INTERNS, AGENTS, DISTRIBUTORS, AND
                        VENDORS FROM AND AGAINST ANY AND ALL CLAIMS, DEMANDS, LIABILITIES, COSTS OR EXPENSES, INCLUDING
                        REASONABLE ATTORNEYS’ FEES AND EXPENSES, RESULTING OR ARISING OUT OF YOUR BREACH OF ANY OF
                        THESE TERMS OF SERVICE OR THE DOCUMENTS THEY INCORPORATE BY REFERENCE, OR YOUR VIOLATION OF ANY
                        LAW OR THE RIGHTS OF A THIRD PARTY. Notwithstanding the foregoing, Beanstalk reserves the right, at
                        your expense, to assume the exclusive defense and control of any matter for which you are
                        required to indemnify Beanstalk, and you agree to cooperate, at your expense, with Beanstalk’s
                        defense of such claims. Beanstalk will use reasonable efforts to notify you of any such claim,
                        action, or proceeding which is subject to this indemnification upon becoming aware of it.
                        GOVERNING LAW These Terms of Service and any separate agreements whereby we provide you Services
                        shall be governed by and construed in accordance with the state laws of the state of California,
                        exclusive of conflict or choice of law rules. ARBITRATION In the event of any dispute with
                        Beanstalk, you agree to first contact Beanstalk to attempt in good faith to resolve the dispute. All
                        offers, promises, conduct and statements, whether oral or written, made in the course of
                        negotiation to resolve the dispute by any of the parties, their agents, employees, experts and
                        attorneys are confidential, privileged and inadmissible for any purpose, including impeachment,
                        in arbitration or other proceeding involving the parties, provided that evidence that is
                        otherwise admissible or discoverable shall not be rendered inadmissible or non-discoverable as a
                        result of its use in the negotiation. If the dispute has not been resolved after sixty (60)
                        days, we each agree to resolve any claim, dispute, or controversy (except for disputes brought
                        in small claims court) arising out of or in connection with or relating to these Terms of
                        Service, the Site or Services, including the determination of the scope or applicability of this
                        agreement to arbitrate, or the alleged breach thereof, by binding arbitration in Santa Clara
                        County, California before one arbitrator. The arbitration shall be administered by JAMS pursuant
                        to its Comprehensive Arbitration Rules and Procedures, and in accordance with the Expedited
                        Procedures in those Rules. Judgment on the award may be entered in any court having
                        jurisdiction. If this arbitration provision is found unenforceable or to not apply for a given
                        dispute, then the proceeding must be brought exclusively in a court of competent jurisdiction in
                        the County of Santa Clara, California. You hereby accept the exclusive jurisdiction of such
                        court for this purpose. CLASS ACTION WAIVER Any dispute resolution proceedings, whether in
                        arbitration or court, will be conducted only on an individual basis and not in a class or
                        representative action or as a named or unnamed member in a class, consolidated, representative
                        or private attorney general legal action. Your access and continued use of the Site or Services
                        signifies your explicit consent to this waiver. SEVERABILITY In the event that any provision or
                        part of a provision of these Terms of Service is determined to be unlawful, void or
                        unenforceable, that provision or part of the provision is deemed severable from these Terms of
                        Service and does not affect the validity and enforceability of any remaining provisions. OTHER
                        TERMS These Terms of Service and any policies or operating rules posted by us on this Site or in
                        respect to the Service constitutes the entire agreement and understanding between you and us and
                        govern your use of the Site and Services, superseding any prior or contemporaneous agreements,
                        communications and proposals, whether oral or written, between you and us (including, but not
                        limited to, any prior versions of the Terms of Service). The failure of us to exercise or
                        enforce any right or provision of these Terms of Service shall not constitute a waiver of such
                        right or provision. Any ambiguities in the interpretation of these Terms of Service shall not be
                        construed against the drafting party. CHANGES TO TERMS OF SERVICE You can review the most
                        current version of the Terms of Service at any time at this page. We reserve the right, at our
                        sole discretion, to update, change or replace any part of these Terms of Service by posting
                        updates and changes to our Site. It is your responsibility to check our Site periodically for
                        changes. Your continued use of or access to our Site or the Service following the posting of any
                        changes to these Terms of Service constitutes acceptance of those changes. MISCELLANEOUS The
                        section titles in these Terms of Service are for convenience only and have no legal or
                        contractual effect. These Terms of Service operate to the fullest extent permissible by law.
                        These Terms of Service and your User Account may not be assigned by you without our express
                        written consent. Beanstalk may assign any or all of its rights and obligations to others at any
                        time. Beanstalk shall not be responsible or liable for any loss, damage, delay or failure to act
                        caused by any cause beyond Beanstalk’s reasonable control. There is no joint venture,
                        partnership, employment or agency relationship created between you and Beanstalk as a result of
                        these Terms of Service or use of the Site and Services. Upon Beanstalk’s request, you will
                        furnish Beanstalk any documentation, substantiation or releases necessary to verify your compliance
                        with these Terms of Service. You hereby waive any and all defenses you may have based on the
                        electronic form of these Terms of Service and the lack of signing by the parties hereto to
                        execute these Terms of Service.
                        CONTACT INFORMATION If you have any questions regarding these Terms of Service or the Privacy
                        Policy, please contact:
                        Email: info@beanstalk.app
                    </p>
                </p-scrollPanel>
            </div>
        </div>
    </p-fieldset>
</p-scrollPanel>
<form [formGroup]="dispensaryAgreementAcceptedForm">
    <div style="margin-top: 10px; display: flex; justify-content: flex-end;">
        <p-toggleButton formControlName="agreement_accepted" [onLabel]="'I accept'" [offLabel]="'I reject'"
            [onIcon]="'pi pi-check'" [offIcon]="'pi pi-times'" [style]="{'width': '10.7em'}">
        </p-toggleButton>
    </div>
</form>
<div class="grid" style="margin-top: 5px;">
    <div class="col-6">
        <button pButton type="button"
            [style]="{height: '50px', width: '50%', background: '#FFFFFF', color: '#66CBE3' , border: 'none'}"
            label="Back" icon="pi pi-angle-left" iconPos="left" (click)="backPage()">
        </button>
    </div>
    <div class="col-6">
        <button pButton type="button" class="w-100" [style]="{height: '50px', background: '#E19A3D', border: 'none'}"
            label="Complete" icon="pi pi-angle-right" iconPos="right"
            [disabled]="!dispensaryAgreementAcceptedForm.valid" (click)="complete()">
        </button>
        <div *ngIf="showError" style="margin-top: 5px; display: flex; justify-content: flex-end;">
            <p-message severity="error" [style]="{height: '20px'}" [text]="messageError"></p-message>
        </div>
    </div>
</div>