<section class="grid mainBackground"
    style="height: 100%; align-items: center; flex-direction: row; margin: 0; padding: 0;">
    <ngx-spinner bdColor="rgba(40,80,80,0.8)" size="medium" color="#ede854" type="ball-beat" [fullScreen]="true">
        <p style="color: #ede854"> Loading... </p>
    </ngx-spinner>
    <div class="col-1 md:col-2 lg:col-2"></div>
    <p-card class="col-10 md:col-8 lg:col-8">

        <div style="display: flex; flex-direction: column; align-items: center;">
            <img alt="Beanstalk" src="/assets/logo_beanstalk.png" width="80px"
                style="background-size: cover; height: 100%; margin-top: -20px;">
        </div>

        <div style="margin-top: 10px; margin-bottom: 15px;">
            <h1 style="color: #057671; font-size: 25px;">Restore Password</h1>
        </div>

        <p-scrollPanel [style]="{width: '100%', height: '40vh'}">

            <!-- Send Email -->
            <p-fieldset legend="Forgot Your Password?" [hidden]="!sendEmail">

                <h5>Enter the Email address associated with your account</h5>

                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6"
                        style="display: flex; flex-direction: column; align-items: flex-end;">
                        <form [formGroup]="restoreEmailForm" class="w-100">
                            <div class="p-inputgroup" style="margin-top: 25px;">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-envelope"></i>
                                </span>
                                <span class="p-float-label">
                                    <input pInputText type="email" formControlName="email" />
                                    <label for="inputgroup">Email</label>
                                </span>
                            </div>

                            <span style="margin-top: 5px;">
                                <p-message severity="error" [style]="{height: '20px'}" class="mr-2"
                                    *ngIf="(restoreEmailForm.controls['email'].errors?.['required'] && restoreEmailForm.controls['email'].touched)"
                                    text="Email is required">
                                </p-message>
                                <p-message severity="error" [style]="{height: '20px'}" class="mr-2"
                                    *ngIf="(restoreEmailForm.controls['email'].errors?.['email'] && restoreEmailForm.controls['email'].touched)"
                                    text="Format is invalid">
                                </p-message>
                            </span>
                        </form>
                    </div>

                    <div class="col-12 md:col-6 lg:col-6"
                        style="display: flex; flex-direction: row; align-items: center; margin-top: 20px;">
                        <button pButton type="button"
                            [style]="{height: '50px', width: '50%', background: '#E19A3D', border: 'none'}"
                            label="Verify Email" icon="pi pi-check" iconPos="right"
                            [disabled]="!(restoreEmailForm.valid)" (click)="verifyEmail()">
                        </button>
                    </div>

                </div>

            </p-fieldset>

            <!-- Verify Code -->
            <p-fieldset legend="Verify Your Email" [hidden]="!emailVerified">

                <h5>Please enter the 6 digits code sent your email</h5>

                <div class="grid">

                    <div class="col-12 md:col-6 lg:col-6"
                        style="display: flex; flex-direction: column; align-items: flex-end;">
                        <form [formGroup]="restoreCodeForm" class="w-100">
                            <div class="p-inputgroup" style="margin-top: 25px;">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-hashtag"></i>
                                </span>
                                <span class="p-float-label">
                                    <input pInputText type="text" formControlName="code" />
                                    <label for="inputgroup">Code</label>
                                </span>
                            </div>

                            <span style="margin-top: 5px;">
                                <p-message severity="error" [style]="{height: '20px'}" class="mr-2"
                                    *ngIf="(restoreCodeForm.controls['code'].errors?.['required'] && restoreCodeForm.controls['code'].touched)"
                                    text="Code is required">
                                </p-message>
                            </span>
                        </form>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6"
                        style="display: flex; flex-direction: row; align-items: flex-end;">
                        <button pButton type="button"
                            [style]="{height: '50px', width: '50%', background: '#E19A3D', border: 'none'}"
                            label="Confirm" icon="pi pi-check" iconPos="right" [disabled]="!restoreCodeForm.valid"
                            (click)="verifyCode()">
                        </button>
                    </div>

                </div>

            </p-fieldset>

            <!-- Update Password -->
            <p-fieldset legend="Update Your Password" [hidden]="!codeVerified">

                <h5>From previous used password</h5>

                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6"
                        style="display: flex; flex-direction: column; align-items: flex-start;">
                        <form [formGroup]="restorePasswordForm" class="w-100">
                            <div class="p-inputgroup" style="margin-top: 25px;">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-lock"></i>
                                </span>
                                <span class="p-float-label">
                                    <input pInputText type="password" class="mr-2" formControlName="password"
                                        #password />
                                    <label for="inputgroup">Password</label>
                                </span>
                            </div>

                            <span style="margin-top: 5px;">
                                <p-message severity="error" [style]="{height: '20px'}" class="mr-2"
                                    *ngIf="(restorePasswordForm.controls['password'].errors?.['required'] && restorePasswordForm.controls['password'].touched)"
                                    text="Password is required"></p-message>
                                <p-message severity="error" [style]="{height: '20px'}" class="mr-2"
                                    *ngIf="(restorePasswordForm.controls['password'].errors?.['minlength'] && restorePasswordForm.controls['password'].touched)"
                                    text="Password must be at least 6 characters"></p-message>
                            </span>

                            <div class="p-inputgroup" style="margin-top: 25px;">
                                <span class="p-inputgroup-addon">
                                    <i class="pi pi-lock"></i>
                                </span>
                                <span class="p-float-label">
                                    <input pInputText type="password" class="mr-2" formControlName="passwordConfirm"
                                        #passwordConfirm />
                                    <label for="inputgroup">Confirm Password</label>
                                </span>
                            </div>

                            <span style="margin-top: 5px;">
                                <p-message severity="error" [style]="{height: '20px'}" class="mr-2"
                                    *ngIf="(password.value != passwordConfirm.value && restorePasswordForm.controls['passwordConfirm'].touched)"
                                    text="Passwords must match"></p-message>
                                <p-message severity="error" [style]="{height: '20px'}" class="mr-2"
                                    *ngIf="(restorePasswordForm.controls['passwordConfirm'].errors?.['required'] && restorePasswordForm.controls['passwordConfirm'].touched)"
                                    text="Password is required"></p-message>
                                <p-message severity="error" [style]="{height: '20px'}" class="mr-2"
                                    *ngIf="(restorePasswordForm.controls['passwordConfirm'].errors?.['minlength'] && restorePasswordForm.controls['passwordConfirm'].touched)"
                                    text="Password must be at least 6 characters"></p-message>
                            </span>
                        </form>
                    </div>

                    <div class="col md:col-6 lg:col-6"></div>

                </div>
            </p-fieldset>

        </p-scrollPanel>

        <div *ngIf="showError" style="margin-bottom: 5px; display: flex; justify-content: flex-end;">
            <p-message severity="error" [style]="{height: '20px'}" [text]="messageError"></p-message>
        </div>

        <div class="grid">
            <div class="col-6">
                <button pButton type="button"
                    [style]="{height: '50px', width: '50%', background: '#FFFFFF', color: '#66CBE3' , border: 'none'}"
                    label="Back" icon="pi pi-angle-left" iconPos="left" (click)="backPage()">
                </button>
            </div>
            <div class="col-6">
                <button pButton type="button"
                    [style]="{height: '50px', width: '100%', background: '#E19A3D', border: 'none'}"
                    label="Restore Password" icon="pi pi-check" iconPos="right"
                    [disabled]="!restoreEmailForm.valid && !restorePasswordForm.valid" (click)="restorePass()">
                </button>
            </div>
        </div>

    </p-card>
    <div class="col-1 md:col-8 lg:col-2"></div>
</section>